<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Intelligence - Corporate Category Bootstrap Responsive Website Template - About</title>

    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->

    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="../static/css/style-liberty.css">

</head>

<body>

<!-- top header -->

            <div class="content-info-in row">
                <div class="content-gd col-lg-6 pe-lg-5">
                    <img src="../static/images/baoanqinggan.png" alt="" class="img-fluid" />
                </div>
                <div class="content-gd col-lg-6 mt-lg-0 mt-5 align-self ps-lg-5">

<!-- //bootstrap-->
<!-- //Js scripts -->

</body>

</html>